{
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": true
  },
  "extends": "airbnb",
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "arrow-parens": ["off"],
    "compat/compat": "warn",
    "consistent-return": "off",
    "comma-dangle": "off",
    "flowtype-errors/show-errors": "off",
    "generator-star-spacing": "off",
    "import/no-unresolved": "off",
    "import/no-extraneous-dependencies": "off",
    "no-console": "off",
    "no-use-before-define": "off",
    "no-multi-assign": "off",
    "no-unused-vars": "warn",
    "no-shadow": "warn",
    "semi": "warn",
    "padded-blocks": "warn",
    "arrow-body-style": "warn",
    "no-trailing-spaces": "warn",
    "react/require-default-props": "warn",
    "react/no-unused-prop-types": "warn",
    "react/prop-types": "warn",
    "prefer-const": "warn",
    "no-param-reassign": "warn",
    "indent": "warn",
    "react/forbid-prop-types": "warn",
    "no-empty": "warn",
    "object-curly-spacing": "warn",
    "space-before-blocks": "warn",
    "react/jsx-curly-spacing": "warn",
    "react/jsx-closing-bracket-location": "warn",
    "spaced-comment": "warn",
    "prefer-arrow-callback": "warn",
    "space-before-function-paren": "warn",
    "block-spacing": "warn",
    "no-multi-spaces": "warn",
    "import/first": "warn",
    "react/self-closing-comp": "warn",
    "react/jsx-indent": "warn",
    "no-confusing-arrow": "warn",
    "quotes": "warn",
    "jsx-quotes": "warn",
    "no-multiple-empty-lines": "warn",
    "space-in-parens": "warn",
    "react/jsx-tag-spacing": "warn",
    "react/jsx-boolean-value": "warn",
    "react/jsx-indent-props": "warn",
    "import/newline-after-import": "warn",
    "eol-last": "warn",
    "import/extensions": "warn",
    "key-spacing": "warn",
    "max-len": "warn",
    "comma-spacing": "warn",
    "brace-style": "warn",
    "keyword-spacing": "warn",
    "no-else-return": "warn",
    "curly": "warn",
    "promise/param-names": "warn",
    "promise/always-return": "warn",
    "promise/catch-or-return": "warn",
    "promise/no-native": "off",
    "react/sort-comp": ["warn", {
      "order": ["type-annotations", "static-methods", "lifecycle", "everything-else", "render"]
    }],
    "react/jsx-no-bind": "off",
    "react/jsx-filename-extension": ["warn", { "extensions": [".js", ".jsx"] }],
    "react/prefer-stateless-function": "off"
  },
  "plugins": [
    // "flowtype",
    // "flowtype-errors",
    "import",
    "promise",
    "compat",
    "react"
  ],
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "webpack.config.eslint.js"
      }
    }
  }
}
